.App {
  text-align: center;
}

.program-mod-link:hover {
  cursor: pointer;
}

.number-select {
  width: 2em;
  height: 1em;
  margin-right: 5px;
}

.login-background {
  background-image: url('./static/img/background.jpg');
  background-size: cover;
  height: 150vh;
}

.login-cards {
  opacity: .8;
  background: whitesmoke;
  padding: 10px;
}

.link {
  color: black;
}

.link:hover {
  color: black;
  text-decoration: none;
}

.dashboard-card {
  padding: 30px;
}